<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Cambiar Contraseña</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="principal"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <form (ngSubmit)="changePassword()">
    <ion-item class="input" lines="none">
      <ion-input
        [(ngModel)]="currentPassword"
        name="currentPassword"
        type="password"
        label="Contraseña Actual"
        labelPlacement="floating"
        required>
      </ion-input>
    </ion-item>
    
    <ion-item class="input" lines="none">
      <ion-input
        [(ngModel)]="newPassword"
        name="newPassword"
        type="password"
        label="Nueva Contraseña"
        labelPlacement="floating"
        required>
      </ion-input>
    </ion-item>
    
    <ion-item class="input" lines="none">
      <ion-input
        [(ngModel)]="confirmNewPassword"
        name="confirmNewPassword"
        type="password"
        label="Confirmar Nueva Contraseña"
        labelPlacement="floating"
        required>
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-checkbox [(ngModel)]="closeOtherSessions" name="closeOtherSessions" slot="start"></ion-checkbox>
      <ion-label>¿Cerrar sesiones abiertas?</ion-label>
    </ion-item>

    
    <ion-button expand="block" type="submit" class="ion-margin-top">
      Cambiar Contraseña
    </ion-button>
  </form>

  <ion-item class="item-warning" lines="none" *ngIf="warningVisible">
    Las contraseñas no coinciden o la contraseña actual es incorrecta.
  </ion-item>

  <ion-item class="item-success" lines="none" *ngIf="closeOtherSessions && successVisible">
    ¡Contraseña cambiada con éxito!, cerrando sesión.
  </ion-item>
  
  <ion-item class="item-success" lines="none" *ngIf="successVisible && !closeOtherSessions">
    ¡Contraseña cambiada con éxito!
  </ion-item>
</ion-content>
