<ion-header [translucent]="true">
  <ion-toolbar class="barra">
    <ion-title class="titulo">Información del Usuario</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/principal"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding fondo">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Detalles del Usuario</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="stacked">Nombre</ion-label>
        <ion-input value="{{ name }}" readonly></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Apellido</ion-label>
        <ion-input value="{{ last_name }}" readonly></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Correo Electrónico</ion-label>
        <ion-input value="{{ email }}" readonly></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Nombre de Usuario</ion-label>
        <ion-input value="{{ user }}" readonly></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
